* {
    margin: 0;
}
main {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 50px auto;
    /* background-image: linear-gradient(blue), url('./motorway2.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    linear-gradient(rgba(255, 255, 255, 50%),rgba(128, 128, 128, 50%)), url('./motorway2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main2 {
    width: 400px;
    height: 400px;
    border: 1px solid black;
    margin: 50px auto;
    linear-gradient(rgba(255, 242, 0, 60%),rgba(255, 68, 0, 50%),rgba(199, 197, 197, 50%)), url('./motorway2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}